:root{
    --color-primary: #901C1C;
    --color-secondary: #D3573C;
    --color-tertiary: #DB8876;
    --color-shadow: rgba(0, 0, 0, 0.25);
}

*{
    box-sizing: border-box;
    margin: 0;
    list-style: none;
}
/* ------------------------------- FORM MODAL ------------------------------- */

/* --------------------------------- HEADER --------------------------------- */
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}
.photograph-header img{
    order: 3;
}
.photograph-header .photographer-name{
    font-size: 64px;
}
.photograph-header .photographer-location{
    font-size: 24px;
    margin-bottom: 1rem;
}
.photograph-header .photographer-tagline{
    font-size: 18px;
}
/* --------------------------------- GALLERY -------------------------------- */
.photographer-gallery{
    margin: 25px 100px;
    font-weight: bold;
}
.wrapper{
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}

#sort-media-btn {
    border: none;
    padding: 0;
    position: relative;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
}
#sort-media-btn::after{
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
#sort-media-btn.clicked::after{
    content: "\f077";
}
#sort-list{
    position: absolute;
    width: 170px;
    background-color: var(--color-primary);
    color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0;
    padding: 0;
    transform: translateY(-5px);
    margin-left: 1rem;
    z-index: 2;
    box-shadow: 2px 7px 10px var(--color-shadow);
}
#sort-list>li{
    padding: 1rem;
    font-size: 20px;
    /* border-top: 1px solid white; */
    cursor: pointer;
}
#sort-list>li::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: translateY(-1rem);
}
#sort-list>li:hover{
    background-color: var(--color-secondary);
}
.hidden, .focused{
    display: none;
}
/* --------------------------------- MEDIAS --------------------------------- */
.media-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}
figure{
    flex-basis: calc(100% / 3 - 2rem);
    
}
.gallery-img, .gallery-vid{
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow: 0 0 20px var(--color-shadow); */
}
figcaption{
    color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}
.like-icon{
    margin-left: .3rem;
    cursor: pointer;
}

.photos-infos{
    background-color: var(--color-tertiary);
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 2rem;
    padding: 1rem;
    width: 15%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 12px var(--color-shadow);

}
.total-likes i{
    margin-left: .5rem;
}
.liked{
    color: var(--color-secondary);
}
/* -------------------------------- LIGHTBOX -------------------------------- */
#lightbox_modal{
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.822);
    backdrop-filter: blur(2px);
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lightbox_modal.hidden{
    display: none;
}
.lightbox{
    width: auto;
    height: 90%;
    /* margin: auto; */
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.lightbox-close{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.lightbox-item{
    flex-basis: 90%;
    height: 100%;
    position: relative;
}
.lightbox-img, .lightbox-video{
    display: block;
    margin: 0 1rem;
    /* width: 100%; */
    /* object-fit: cover; */
    /* aspect-ratio: 1 / 1; */
    height: 100%;
    /* position: absolute; */
    /* top: 0; */
    border-radius: 5px;
}
.lightbox-btn{
    font-size: 2rem;
    color: var(--color-primary);
    cursor: pointer;
}
.lightbox-item-title{
    position: absolute;
    bottom: -2rem;
}
/* ------------------------------ CONTACT FORM ------------------------------ */
#contact_modal {
    position: fixed;
    width: 60%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0;
    visibility: collapse;
    transition: opacity .5s ease, visibility .5s ease;
}

#contact_modal.modal-open{
    opacity: 1;
    visibility: visible;
    transition: all .5s ease;
}

.fade-out{
    opacity: .5;
    transition: all .5s ease;
}
.contact_button, .btn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
    order: 2;
    transition: all .5s ease;
    box-shadow: 0 4px 12px var(--color-shadow);
}
.contact_button:hover{
    background-color: var(--color-tertiary);
    color: #000;
}

.modal {
    border-radius: 5px;
    background-color: var(--color-tertiary);
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 35px 35px 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    height: auto;
    padding: 0;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    margin: 0;
    white-space: nowrap;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 15px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}

form textarea{
    width: 100%;
}

form .contact_button:hover{
    background-color: #fff;
    color: var(--color-primary);
}